<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>QuestStore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/style3.css">
</head>

<body style="background-image: url('static/80110.jpg');background-size: cover;">
  <div id="container">
    <header>
      <p>Welcome, {{ username }}</p>
    </header>
    <section>
      <nav>
        <a class="menu" href="/create_mentor">Create mentor</a>
        <a class="menu active" href="/show_mentors">Show mentors</a>
        <a class="menu" href="/edit_mentor">Edit mentor</a>
        <a class="menu" href="/manage_class">Manage class</a>
        <a class="menu" href="/log_out">Log out</a>
      </nav>
      <div class="content">
        <div class="data">
          <h1>Mentors</h1>
          <table id="mentors_table"style="width:100%">
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
            {% for mentor in mentors %}
            <tr>
              <td>{{ mentor.getName() }}</td>
              <td>{{ mentor.getLastname() }}</td>
              <td>{{ mentor.getEmail() }}</td>
              <td>{{ mentor.getPhone() }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

    </section>

    <footer>
      <small>&copy; Copyright 2018</small>
    </footer>
  </div>
</body>

</html>
