

body {  background-image:url('../analytics.jpg');
        background-size: cover;}

.wrapper {  display: flex;
            flex-direction: column;
            height: 500px;
            }

header {    text-align: center;

            margin: 5px;
            font-size: 20px;
            height: 20%;}

h1 { margin: auto;}

.middle_section {   display: flex;
                    flex-direction: row;
                    height: 70%;
                    }

.left_section { display: flex;
                flex-direction: column;
                flex: 18%;
                margin: 5px;
                height: 95%;
                text-decoration: none;
                }

.left_section > a { display: block;
                    font-size: 15px;
                    text-decoration: none;
                    padding: 5px;
                    margin: 2px;
                    background: PaleGreen;
                    height: 17%;
                    text-align: center;
                    border: 2px solid White;
                    }

a:hover {background-color: LightSalmon;}

#active {background-color: LightSalmon;}

.right_section {    display: flex;
                    flex-direction: column;
                    flex: 80%;}

.top_section {  display: flex;
                height: 20%;
                margin: 5px;
                justify-content: space-around;
                }

.bottom_section {   height: 80%;
                    margin: 5px;
                    border: 2px solid White;
                    background: PaleTurquoise;
                    opacity: 0.7;
                    }

footer { height: 10%;
         margin: 5px;
         text-align: center;
         border: 2px solid White;
         background: PaleTurquoise;
         opacity: 0.7;}

button { padding: 5px;
         min-width: 100px;
         flex-grow: 1;
         background: LightSalmon;
         }

#coins {padding: 10px;
        margin: 5px;
        background-color: Silver;
        border: 2px solid White;
        width: 40%;
        margin-left: 15px;}

