<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>QuestStore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style2.css">
</head>

<body style="background-image: url('80110.jpg');background-size: cover;">
  <div id="container">
    <header>
      <p>Welcome, {{ name }} </p>
    </header>

    <section>
      <nav>
        <a class="menu" href="create_mentor">Create mentor</a>
        <a class="menu" href="show_mentors.htm">Show mentors</a>
        <a class="menu" href="edit_mentor.htm">Edit mentor</a>
        <a class="menu" href="manage_class.htm">Manage class</a>
        <a class="menu" href="index.htm">Log out</a>
      </nav>

      <article>
        <h1>Start</h1>
        <p>For now only news is that I need to learn all about front end and it's not that difficult but still i don't know a shit.</p>
        <p>Still works for me.</p>
      </article>

    </section>

    <footer>
      <small>&copy; Copyright 2018</small>
    </footer>
  </div>
</body>

</html>
