<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>QuestStore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/admin_style.css">
</head>

<body>
  <div id="container">
    <header>
      <p>Welcome, {{ name }}</p>
    </header>

    <section>
      <nav>
        <a class="menu" href="create_mentor.twig">Create mentor</a>
        <a class="menu" href="show_mentors.twig">Show mentors</a>
        <a class="menu" href="edit_mentor.twig">Edit mentor</a>
        <a class="menu active" href="manage_class.twig">Manage class</a>
        <a class="menu" href="index.twig">Log out</a>
      </nav>

      <div class="content">
        <div class="data">
          <h1>Class managment</h1>
          <table id="classes">
            <tr>
              <th>Id</th>
              <th>Class</th>
              <th>Description</th>
              <th>Edit</th>
            </tr>
            {% set count = 0 %}
            {% for class in classes %}
            {% set count = count + 1 %}
            <tr>
              <td>{{ count }}</td>
              <td>{{ class.getCLASSNAME() }}</td>
              <td>{{ class.getDESCRIPTION() }}</td>
              <td><a href="student_info.htm" class="manage_button button">Edit</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

    </section>

    <footer>
      <small>&copy; Copyright 2018</small>
    </footer>
  </div>
</body>

</html>
